// Body
$body-bg: #e7e7e7;
$alt-bg: #f8f8f8;

// Typography
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1c89c6;
$white: #ffffff;
$red: #be3600;
$alt-red: #fff4f0;
$grey: #8d8d8d;

$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
