@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

500&family=Roboto&display=swap);html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #e7e7e7;
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.6;
}

.wrapper {
  max-width: 1280px;
  margin: 2rem auto;
}

.header,
.form,
.footer,
.gallery {
  padding: 2rem 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.header,
.form {
  background-color: #ffffff;
}

.gallery,
.footer {
  background-color: #f8f8f8;
}

.header h5 {
  color: #1c89c6;
}

.form form {
  width: inherit;
}

.form label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: block;
}

.form label span {
  color: #be3600;
}

.form input,
.form textarea,
.form select {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  background-color: #ffffff;
  border: 1px solid #c1c1c1;
  border-radius: 0.25rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form input:focus,
.form textarea:focus,
.form select:focus,
.form button:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form textarea {
  resize: none;
}

.form button {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  background-color: #1c89c6;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
}

.form p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #8d8d8d;
  font-size: 0.75rem;
  margin: 0;
}

.form p span {
  color: #be3600;
}

.galleryItem {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  background-color: #ffffff;
  border: 1px solid #c1c1c1;
  border-radius: 0.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryItem div {
  padding: 0.5rem;
}

.galleryItem .iconWrapper {
  text-align: right;
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 0;
}

